@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bakbak One", "Inter";
  background-color: #eeeeee;
}
.nav-bar {
  position: fixed;
  width: 100%;
  height: 14vmin;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.nav-icon img {
  height: 7vmin;
  cursor: pointer;
  width: 11vmin;
  margin-left: 1rem;
}

.home {
  font-weight: 600;
  font-size: 6vmin;
}

.notify {
  text-align: center;
}
.notify img {
  height: 7vmin;
  
}

.nav-bar .notify {
  margin-right: 1rem;
}

.main-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  gap: 40px;
  width: 70%;
  max-width: 80vw;
  margin: auto;
  position: relative;
  top: 15vmin;
  background-color: #eee;
  place-items: center;
}
.name, .role
{
  background:none;
}
.box {
  background-image: url("../assets/numan.png");
  border-radius: 10px;
  height: 60vmin;
  width: 50vmin;
  box-shadow: 0px 0px 10px 0px #00000040;
  margin: 20px;
  display:flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 8px;
}
.name, .role{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 2px 2px 2px black;
  font-size: 3vmin;
}


.box1 {
  background-image: url("../assets/numan2.png");
  background-size:cover;
}
.box2 {
  background-image: url("../assets/mubashir.jpg");
  background-size: cover;
}
.box3 {
  background-image: url("../assets/");
  background-size: cover;
}
.box4 {
  background-image: url(./Assets/Untitled\ design.png);
  background-size: cover;
}
.box5 {
  background-image: url("../assets/momin.jpg");
  background-size: cover;
  background-position: 100%;
}

.div {
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 30vmax;
  font-size: 2vmin;
}

.result {
  background-color: #eee;
   position: fixed;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   height: 100vh;
   top:0;
   width: 40vmin;
   left: -50vmin;
   align-items: center;
   transition: left 0.3s ease;
   box-shadow: -10px 0px 23px black;
 }
 .right {
  top:0;
  background-color: #eee;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 40vmin;
  left:0px;
  align-items: center;
  transition: left 0.3s ease;
  box-shadow: -10px 0px 23px black;
}

.right div, .result div {
  margin-top: 14vh;
  background-color: #eeee;
}

.remove {
  font-weight: 600;
  font-size: 6vmin;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: black;
  font-size: 4vmin;
}
.sections li {
  list-style: none;
  margin-bottom: 1rem;
}