@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bakbak One", "Inter";
  background-color: #eee;
}
.nav-bar {
  position: fixed;
  width: 100%;
  height: 14vmin;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 100;
}
.nav-icon img {
  cursor: pointer;
  height: 6vmin;
  width: 10vmin;
  margin-left: 1rem;
}

.home {
  font-weight: 600;
  font-size: 6vmin;
  visibility: visible;
}

.notify {
  text-align: center;
}
.notify img {
  height: 6vmin;
}

.nav-bar .notify {
  margin-right: 1rem;
}

.main-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  margin-top: 22vmin;
  flex-wrap: wrap;
}

.main-sec img {
  width: 22vmin;
  height: 14vmin;
}

.main-title {
  font-weight: 600;
  font-size: 4vmin;
  position: absolute;
  top: 44vmin;
  margin-left: 7vmin;
}
.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20rem;
}
.main-body img {
  width: 85vmin;
}

.result {
 background-color: #eee;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 40vmin;
  left: -50vmin;
  align-items: center;
  transition: left 0.3s ease;
  box-shadow: -10px 0px 23px black;
}
a {
  text-decoration: none;
  color: black;
  font-size: 4vmin;
}
.sections li {
  list-style: none;
  margin-bottom: 1rem;
}
.abt {
  color: black;
  font-size: 1.2rem;
}

.right {
  background-color: #eee;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 40vmin;
  left:0px;
  align-items: center;
  transition: left 0.3s ease;
  box-shadow: -10px 0px 23px black;
}

.right div, .result div {
  margin-top: 14vh;
  background-color: #eeee;
}

.remove {
  font-weight: 600;
  font-size: 6vmin;
  visibility: hidden;
}

.main-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 57vmin;
  width: 100%;
}
