@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Bakbak One", "Inter";
  text-align: center;

  font-size: 10px;
}

body {
  background-image: url(../assets/gcet.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10vmin;
}
.main-one #dropdown1 {
  width: 70vmin;
  height: 7vmin;
  border-radius: 6px;
  cursor: pointer;
  font-size: 3vmin;
  font-weight: 100;
  margin: 5px;
}

.main-two #dropdown2 {
  width: 70vmin;
  height: 7vmin;
  border-radius: 6px;
  cursor: pointer;
  font-size: 3vmin;
  font-weight: 100;
  margin: 5px;
}

.btn {
  background-color: #fff;
  height: 7vmin;

  text-align: center;
  width: 39vmin;
  border-radius: 4px;

  margin-top: 2rem;
  border: none;
  font-size: 4vmin;
  cursor: pointer;
}
.btn a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 26vmin;
  text-align: center;
  font-size: 8rem;
  line-height: 8rem;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.main > h2 {
  color: white;
  font-size: 13vmin;
  line-height: 17vmin;
}

select option{
font-size: 3vmin;
}