@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bakbak One", "Inter";
}
.nav-bar {
  position: fixed;
  width: 100%;
  height: 14vmin;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.nav-icon img {
  height: 7vmin;
  width: 11vmin;
  margin-left: 1rem;
}

.home {
  font-weight: 600;
  font-size: 6vmin;
}

.notify {
  text-align: center;
}
.notify img {
  height: 7vmin;
  width: 9vmax;
}

.nav-bar .notify {
  margin-right: 1rem;
}