@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bakbak One", "Inter";
    font-size: 70px;
}
.nav-bar{
    position: fixed;
    width: 100vw;
    height:70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 10px black
}
.home{
    font-weight: 600;
    font-size: 0.4rem;
}
.nav-icon img{
    height: 36px;
    width: 65px;
 margin-left: 40px;
}

.notify img{
    height: 42px;
    width: 92px;
}

.nav-bar i{
    color: black;
    font-size: 25px;
    margin-left: 100px;

}

.nav-bar .notify{
margin-right: 40px;
}


@media only screen and (min-width:400px) {
    
}