@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bakbak One", "Inter";
    font-size: 20px;
}
.nav-bar{
    position: fixed;
    width: 100vw;
    height:70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 10px black;
    box-shadow: 1px 1px 10px black
}
.home{
    font-weight: 600;
    font-size: 30px;
}
.nav-bar img{
    height: 34px;
    width: 75px;
}

.nav-bar i{
    color: black;
    font-size: 25px;
    margin-left: 100px;

}
.nav-bar .notify{
margin-right: 100px;
}
