@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bakbak One", "Inter";
  background-color: #EEEEEE;
}
.nav-bar {
  position: fixed;
  width: 100%;
  height: 14vmin;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.nav-icon img {
  height: 7vmin;
  width: 11vmin;
  margin-left: 1rem;
}

.home {
  font-weight: 600;
  font-size: 6vmin;
}

.notify {
  text-align: center;
}
.notify img {
  height: 7vmin;
  width: 9vmax;
}

.nav-bar .notify {
  margin-right: 1rem;
}

.main-body {

  display: grid;
  width: 100%;
  height: 80vh;
  background-color: black;
  grid-template-rows: 30% 30%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  top: 12vmax;
  position: fixed;
    /* background-color: yellow; */
    grid-gap: 10px 10px;
     background-color: #EEEEEE;
     place-items: center;
     
     
}


.box{
  /* width: 14vmax;
  height: 16vmax; */
  background-color: #f7f1ff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #00000040;
  margin: 10px;
}


@media (max-width: 600px) {
  .main-body {
    grid-template-rows: 25% 25% 25%;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    
  }
  .box{
    width: 14vmax;
    height: 19vmax;
  }
}
.box1{
  background-image: url(./Assets/Untitled\ design.png);
  background-size: cover;
}

.div{
  position: fixed;
  background-color: white;
  top: 30vmax;
  font-size: 2vmin;

}

@media (min-width: 600px) {
  .main-body {

    grid-template-rows: 45% 45%;
    grid-template-columns: repeat(5, 1fr);
  }
  .box{
    width: 12vmax;
    height: 14vmax;
  }
} 
